
body{
    background: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 200px;
}
.imagen img{
    margin-left: 200px;
    padding-top: 110px;
}
td1 {
    margin-left: 1200px;
    background-color: rgb(255, 255, 255); margin-left: 900px; padding-top: 1px;
}
.form{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;    
    margin-left: 130px;
}
.form input{
    width: 90%;
    height: 30px;
    margin: 40px;
}

